h1,p{text-align: center;}
.minus{color:red}
.minusReka{background-color: red;}
input,textarea {direction: rtl;}
.zahov{
    font-size: 100px;
    color: yellow;
}
table, th, td {
  border: 1px solid black;
  text-align: center;
  
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}